//main: main.scss

footer {
    width: 100%;
    height: 40px;
    background-color: $colore1;
    border-top: 1px solid $colore3;
    box-shadow: 10px 10px 10px 10px;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    address {
        font-size: 12px;
        color: $colore5;
        padding-left: 30px;
        margin: initial;

        a {
            color: $colore5;
        }
    }

    .social {
        display: flex;
        margin-right: 30px;
        img {
            width: 20px;
            margin-right: 10px;
            transition: all 0.25s;
            &:hover {
                width: 25px;
            }
        }
    }
}