//main: main.scss

header {
    background-color: $colore1;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $colore3;
    box-shadow: 0px 0px 20px 0px;
    position: fixed;
    top: 0;

    .logo {
        margin-left: 30px;

        h1 {
            font-size: 25px;
        }
    }

    .menu img {
        display: none;
    }

    a {
        color: $colore2;
        text-decoration: none;
        transition: all 0.25s;
    }
    a:hover {
        color: $colore3;
        font-size: 15.5px;
    }

    ul {
        list-style: none;
        display: inline-flex;
        margin-right: 30px;
        align-items: center;

        li {
            margin: 18px;
        }

        .lingua {
            display: none;
        }
        #lingua:hover .lingua {
            display: inline-flex;
            font-size: 15.5px;
        }
        #lingua {
            display: inline-flex;
            flex-direction: row-reverse;
            align-items: center;
        }

    }

    .logo, .menu {
        color: $colore2;
    }
}