//main: main.scss

@media only screen and (max-width: 800px) {

    body {
        width: 100%;
        height: 100%;
        display: block;
    }

    header {
        z-index: 100;

        .menu {
            position: relative;
            z-index: 0;
        
            img {
                display: flex;
                width: 37px;
                margin-right: 20px;
                padding-top: 3px;
                transition: all linear 0.5s;
                
            }

            ul {
                display: flex;
                flex-direction: column;
                background-color: $colore6;
                position: fixed;
                top: 45px;
                right: -1000px;
                border-radius: 5px;
                width: 100%;
                font-size: 20px;
                transition: all linear 0.5s;
                z-index: 0;
                box-shadow: black 0px 0px 20px 0px;
               
                li {
                    position: relative;
                    z-index: 0;
                    padding: 0px 20px 30px 20px;
                    border-bottom: 1px solid $colore2;
                    width: 100%;
                    text-align: center;
                    font-size: 20px;
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
                
            }

            .lingua {
                display: none;
            }
            #lingua {
                justify-content: center;
            }

            &:hover {
                img {
                    transform:rotate(180deg);
                }     
                ul {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    top: 45px;
                    right: -30px;
                }
                .lingua {
                    display: none;
                    :hover {
                        display: flex;
                        flex-direction: row;
                        font-size: 20px;
                        justify-content: center;
                    }
                }
            }            
        }
    }

    .page {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        margin: auto;
        height: 100%;
        width: 100%;
        padding-bottom: 50px;

        .items {
            margin: auto;
            width: 90%;
            padding-bottom: 70px;

            h1 {
                font-size: 30px;
            }
        }
        .deco {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        picture {
            margin-top: 57px;
            width: 100%;
            max-width: 300px;
        }

        img {
            margin: auto;
            width: 100%;
        }

        .social2 {
            display: flex;
            justify-content: center;
            margin-bottom: 7px;
            margin-top: auto;
            
            img {
                width: 30px;
                margin: 5px;
            }
        }

        .formulario {
            margin-top: 70px;

            .deco {
                margin-top: 15px;
            }
        
            form {
                margin-top: 20px;
                justify-content: space-between;

                div {
                    width: 100%;

                    input {
                        width: 70%;
                    }
                }
            }
        }
    }

    footer {
        position: relative;
        bottom: 0px;
        display: flex;
        justify-content: center;
        margin-top: auto;

        address {
            display: none;
        }
        .address2 {
            display: block;
            text-align: center;
            color: $colore5;
            font-size: 11px;
            margin: initial;
            a {
                color: $colore5;
            }
        }

        .social {
            display: none;
        }
        
    }
}


@media only screen and (min-width: 400px) and (max-width: 800px) {

    footer {
        position: fixed;
        bottom: 0px;
    }
}