//main: main.scss

.page {
    background-color: $colore4;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    }

    picture {
        width: 40%;
    }

    .items {
        margin: -40px 0 0 25px;
        width: 40%;
    }
    
    h1 {
        font-size: 40px;
        text-align: center;
    }
    h3 {
        font-size: 20px;
        text-align: center;
    }
    
    .deco {
        border-top: 2px solid black;
        border-bottom: 1px solid black;
        width: 100%;
        height: 4px;
        margin: 18px 0 15px 0;
    }

    p, address {
        width: 90%;
        font-size: 16px;
        margin: auto;
        margin-top: 10px;
        text-align: justify;
    }

