//main: main.scss

//background header and footer / defoult text color
$colore1: black;

//menu
$colore2: white;

//decorazioni header
$colore3: rgb(145, 232, 253);

//background color
$colore4: rgb(211, 237, 255);

//footer text color
$colore5: grey;

//background dropdown menu
$colore6: rgb(70, 76, 94);