* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: roboto, sans-serif, arial;
}

body {
  background-color: #d3edff;
}

header {
  background-color: black;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #91e8fd;
  -webkit-box-shadow: 0px 0px 20px 0px;
          box-shadow: 0px 0px 20px 0px;
}

header .logo {
  margin-left: 35px;
}

header .logo h1 {
  font-size: 25px;
}

header a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

header a:hover {
  color: #91e8fd;
  font-size: 15.5px;
}

header ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  margin: 18px;
}

header ul .lingua {
  display: none;
}

header ul #lingua:hover .lingua {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 15.5px;
}

header ul #lingua {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo, header .menu {
  color: white;
}

.page {
  margin: auto;
  margin-top: 90px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
}

h1 {
  font-size: 40px;
  margin-left: 90px;
}

h3 {
  font-size: 20px;
  margin: 10px 5px 0 150px;
}

.deco {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  width: 600px;
  height: 4px;
  margin: 15px 0 10px 0;
}

p, address {
  max-width: 500px;
  font-size: 16px;
  margin: 30px 0 0 50px;
  text-align: justify;
}

footer {
  width: 100%;
  height: 40px;
  background-color: black;
  border-top: 1px solid #91e8fd;
  -webkit-box-shadow: 10px 10px 10px 10px;
          box-shadow: 10px 10px 10px 10px;
  position: fixed;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .recapiti {
  font-size: 12px;
  color: grey;
  padding-left: 30px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

footer .social img {
  width: 20px;
  margin-right: 10px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

footer .social img:hover {
  width: 25px;
}
/*# sourceMappingURL=main.css.map */