
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif, arial;
}

@import "variabili";

body {
    background-color: $colore4;
}

@import "header";
@import "page";
@import "footer";

@import "mobile";